<%= render 'application/header'%>
<br/>

<h1 class="container container-centered">Edit Task</h1>
<br/>

<%= render 'form', hide_start: true, hide_status: false  %>

<div class="container container-centered">
	<br/>
	<a href="/dash">Back</a>
</div>

