<%= render 'application/header'%>
<br/>

<h1 class="container container-centered">New Task</h1> 
<br/>

<%= render 'form', hide_start: false, hide_status: true %>

<div class="container container-centered">
	<br/>
	<a href="/dash">Back</a>
</div>
