<%= render 'application/header'%>
<br/>

<div class="container container-centered three-quart vertical">
	<div class="container-centered">
		<h1 class="">New Task</h1> 
	</div>

	<%= render 'form', hide_start: false, hide_status: true %>
</div>

<div class="container container-centered">
	<a href="/dash">Back</a>
</div>
