<%= render 'application/header'%>
<br/>

<div class="container container-centered-thin">
	<div class="container">
		<h2 class="left">
			<a href="/login">Login</a>
		</h2>
		<h2 class="right">
			<a href="/register">Register</a>
		</h2>

	</div>
</div>
