<%= render 'application/header'%>
<br/>

<div class="container">
	<div class="container container-centered">
		<h2 class="container-centered-thin text-centered">
			<a href="/login">Login</a>
		</h2>
		<h2 class="container-centered-thin text-centered">
			<a href="/register">Register</a>
		</h2>
	</div>
</div>
